{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}Simple Open Data Portal{% endblock %}</title>
    <meta name="description" content="{% block description %}Ein ganz einfaches inoffizielles Offenes Datenportal. Weil die Stadt Essen keines hat.{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <header class="header">
      <h3 class="header__title">essen.openruhr.de</h3>
      <div class="header__description">Ein ganz einfaches inoffizielles Offenes Datenportal. Weil die Stadt Essen keines hat.</div>
    </header>
    <main role="main" class="main">
      {% block main %}{% endblock %}
    </main>
    <footer role="footer" class="footer">
      <div class="footer__credits">
        <a href="https://twitter.com/codeforruhr" target="_blank">@codeforruhr</a>
      </div>
    </footer>
  </body>
</html>
