// colors
$black: #1a1a1a;
$white: white;
$gray: gray;
$gray-light: lighten($gray, 20%);
$color-main: brown;
$color-accent1: steelblue;

// typo
$font-family-mono: monospace;
$font-family-sans: sans-serif;
$font-family-serif: serif;

$font-heading: $font-family-sans;
$font-body: $font-family-sans;

$font-seize-base: 1em;
$line-height-base: 1.5em;
