.button {

  display: inline-block;
  background-color: $gray-light;
  padding: 10px;
  @include transition( background-color );

  &:hover {

    @include transition( background-color );
    background-color: darken($gray-light, 10%);

  }

  &--link {

    color: $black;

  }

}
