.header, .main, .footer {

  font-family: $font-family-sans;
  padding: $padding-base;
  font-size: $font-size-base;

  p {

    line-height: $line-height-base;

  }

}

.header {

  background-color: $gray-light;

  &__title {

    font-family: $font-family-mono;

    a {

      color: $color-main;

    }

  }

}
