.header, .main, .footer {

  font-family: $font-family-sans;
  padding: $padding-base;
  font-size: $font-size-base;

  p {

    line-height: $line-height-base;

  }

  @media (max-width: 760px) {

    padding: $padding-base/2;
    font-size: 85%;

  }

}

.header {

  background-color: $gray-light;

  &__title {

    font-family: $font-family-mono;

    a {

      color: $color-main;

    }

  }

}

.footer {

  background-color: $gray-light;

  &__navigation {

    width: 50%;
    float: left;

    ul {

      margin: 0;
      padding: 0;

      li {

        list-style: none;

      }

    }

  }

}
